.image.is-4by3 img {
  height: 150px !important;
}

.image.is-4by3 {
  padding-top: 9rem !important;
}

.columns {
  display: grid !important;
  grid-template-columns: repeat(4, auto) !important;
}
@media (max-width: 1200px) {
  .image.is-4by3 img {
    height: 100% !important;
    width: 90% !important;
    margin: auto;
    border-radius: 10px !important;
  }

  .image.is-4by3 {
    padding-top: 50% !important;
  }
  .columns {
    display: grid !important;
    grid-template-columns: repeat(2, auto) !important;
  }
}

@media (max-width: 600px) {
  .image.is-4by3 img {
    height: 100% !important;
    width: 90% !important;
    margin: auto;
    border-radius: 10px !important;
  }

  .image.is-4by3 {
    padding-top: 50% !important;
  }
  .columns {
    display: grid !important;
    grid-template-columns: repeat(1, auto) !important;
  }
  .content {
    -webkit-line-clamp: 3 !important;
    display: -webkit-box !important;
    overflow: hidden !important;
    -webkit-box-orient: vertical !important;
  }
}
